* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 300;
  color: #fff;
  background-image: url(../rainbow-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.container {
  margin: 0 auto;
  padding: 15px 15px;
  width: 40%;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.7);
  -webkit-backdrop-filter: blur(12px);
          backdrop-filter: blur(12px);
  overflow: hidden;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
}
.header .city-name {
  min-width: 90px;
}
.header .city-name,
.header .date,
.header .time {
  font-size: 12px;
  font-weight: 100;
}

.celcius,
.farenheit {
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.farenheit {
  color: #7a7a7a;
}

.temp-units:has(.switch .temp-units-select:checked) .celcius {
  color: #7a7a7a;
}
.temp-units:has(.switch .temp-units-select:checked) .farenheit {
  color: #fff;
}

.switch {
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 25px;
  height: 12px;
}
.switch input {
  display: none;
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #2d2b2e;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  border-radius: 30px;
}
.slider:before {
  position: absolute;
  content: "";
  height: 10px;
  width: 10px;
  border-radius: 20px;
  left: 0.2em;
  bottom: 1px;
  background-color: #7a7a7a;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.temp-units-select:checked + .slider::before {
  background-color: #e783ec;
}

.temp-units-select:checked + .slider:before {
  -webkit-transform: translateX(8px);
      -ms-transform: translateX(8px);
          transform: translateX(8px);
}

.city-name {
  text-transform: capitalize;
}

.search {
  margin-top: 5px;
}
.search-input {
  font-family: "Montserrat", sans-serif;
  background-color: transparent;
  color: #fff;
  border: 1px solid #7a7a7a;
  border-radius: 3px;
  outline: none;
  margin-right: 5px;
  padding: 5px 10px;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.search-input::-webkit-input-placeholder {
  font-family: "Montserrat", sans-serif;
}
.search-input::-moz-placeholder {
  font-family: "Montserrat", sans-serif;
}
.search-input:-ms-input-placeholder {
  font-family: "Montserrat", sans-serif;
}
.search-input::-ms-input-placeholder {
  font-family: "Montserrat", sans-serif;
}
.search-input::placeholder {
  font-family: "Montserrat", sans-serif;
}
.search-input:focus {
  border: 1px solid #fff;
}
.search-btn {
  padding: 5px 10px;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  color: #fff;
  border: none;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 3px;
  cursor: pointer;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.search-btn:hover {
  border: 1px solid #fff;
}
.search-btn:active {
  background-color: #2d2b2e;
}

.temp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 54px;
}
.temp-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.weather-icon {
  -ms-flex-item-align: end;
      align-self: end;
}

.humidity {
  margin-top: 40px;
}

h2 {
  font-weight: 300;
}

.forecast {
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  margin: 40px auto 0;
}
.forecast-container {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  gap: 15px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.forecast-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  padding: 15px 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
.forecast-card:not(:last-child):after {
  content: "";
  position: absolute;
  width: 1px;
  background-color: #fff;
  color: #fff;
  top: 10px;
  right: -8px;
  bottom: 10px;
}
.forecast-day {
  font-size: 10px;
}

@media (320px <= width <= 1300px) {
  .container {
    width: 50%;
  }
}
@media (320px <= width <= 1200px) {
  .container {
    width: 60%;
  }
}
@media (320px <= width <= 1024px) {
  .container {
    width: 65%;
  }
}
@media (320px <= width <= 992px) {
  .container {
    width: 70%;
  }
}
@media (320px <= width <= 768px) {
  .container {
    width: 80%;
  }
}
@media (320px <= width <= 680px) {
  .container {
    width: 90%;
  }
}
@media (320px <= width <= 560px) {
  .container {
    width: 95%;
  }
  .forecast-container {
    width: 100%;
    white-space: nowrap;
    overflow-x: scroll;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
  .forecast-container::-webkit-scrollbar {
    height: 5px;
    width: 5px;
  }
  .forecast-container::-webkit-scrollbar-track {
    border-radius: 5px;
    background-color: #7a7a7a;
  }
  .forecast-container::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #fff;
  }
}/*# sourceMappingURL=main.css.map */